@mixin centreStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin style-title {
  color: $color-grey;
  font-family: Inter;
  font-style: normal;
}

@mixin style-desc {
  color: $color-grey;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@mixin style-btn {
  @include resetButton();
  background-color: $main-color;
  color: $color-white;
  padding: 14px 32px;
  border-radius: 5px;
}

@mixin mobileScreen {
  @media (max-width: $max-width-mobile) {
    .header {
      flex-wrap: wrap;
      padding: 10px 0px;
      .logo {
        width: 50%;
        order: 1;
      }

      .nav {
        display: none;
      }

      .account {
        width: 50%;
        order: 2;
      }
    }
  }
}

@mixin tabletScreen {
  @media (max-width: $max-width-tablet) {
    .header {
      flex-wrap: wrap;
      padding: 10px 0px;
      .logo {
        width: 50%;
        order: 1;
      }

      .nav {
        display: none;
      }

      .account {
        width: 50%;
        order: 2;
      }
    }
  }
}

@mixin computerScreen {
  @media (min-width: $min-width-computer) {
    .header {
      padding: 10px;
      @include centreStyle();

      .nav {
        @include centreStyle();
      }
    }
  }
}
