$main-color: #4caf4f;
$main-background-color: #f5f7fa;
$color-black: black;
$color-white: white;
$color-grey: #4d4d4d;
$color-neutral-black:#263238;
$color-neutral-silver:#F5F7FA;
$color-default-white:#FFF;
$color-default-grey:#5b5555;
$color-text-gray-300:#D9DBE1;
