$main-color: #4CAF4F;
$main-background-color: #F5F7FA;
$color-black: black;
$color-white: white;
$color-grey: #4D4D4D;
$color-neutral-black:#263238;
$color-neutral-silver:#F5F7FA;
$color-default-white:#FFF;
$color-default-grey:#5b5555;
$color-text-gray-300:#D9DBE1;