* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #f5f7fa;
}
.header .logo {
  width: 30%;
  text-align: center;
}
.header .nav {
  width: 40%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .nav__item {
  height: 100%;
  padding: 20px;
  text-decoration: none;
  color: black;
}
.header .nav__item:hover {
  cursor: pointer;
  background-color: white;
}
.header .account {
  width: 30%;
  text-align: center;
}
.header .account__item {
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #f5f7fa;
}
.header .account__item:last-child {
  color: white;
  background-color: #4caf4f;
  margin-left: 5px;
}
.header .account__item:hover {
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 599px;
  background-color: #f5f7fa;
  justify-content: center;
  gap: 104px;
}
.content__introduce-title {
  color: #4d4d4d;
  font-family: Inter;
  font-style: normal;
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
}
.content__introduce-desc {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
}
.content__introduce-btn {
  margin-top: 32px;
  border: none;
  background-color: #4caf4f;
  color: white;
  padding: 14px 32px;
  border-radius: 5px;
}
.content__img {
  width: 391px;
  height: 407px;
  -o-object-fit: cover;
  object-fit: cover;
}

.clients {
  margin: 40px 0px;
  padding: 0px 144px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 190px;
  flex-direction: column;
  justify-content: center;
}
.clients__title {
  color: #4d4d4d;
  font-family: Inter;
  font-style: normal;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}
.clients__desc {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.clients__logo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
}

.community {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.community__title {
  color: #4d4d4d;
  font-family: Inter;
  font-style: normal;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-bottom: 8px;
  text-align: center;
}
.community__desc {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.community .community-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 16px 0px;
  padding: 0px 144px;
  text-align: center;
  justify-content: space-between;
}
.community .community-list__item {
  width: 299px;
  height: 260px;
  padding: 24px 32px;
}
.community .community-list__item-title {
  color: #4d4d4d;
  font-family: Inter;
  font-style: normal;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin: 16px 0px 8px 0px;
}
.community .community-list__item-desc {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.unlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 144px;
  margin: 30px;
}
.unlock__img {
  width: 442px;
  height: 433px;
  -o-object-fit: cover;
  object-fit: cover;
}
.unlock__introduce {
  width: 661px;
  height: 268px;
}
.unlock__introduce-title {
  color: #4d4d4d;
  font-family: Inter;
  font-style: normal;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}
.unlock__introduce-desc {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 16px 0px 32px 0px;
}
.unlock__introduce-btn {
  border: none;
  background-color: #4caf4f;
  color: white;
  padding: 14px 32px;
  border-radius: 5px;
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 64px 144px;
  background-color: #f5f7fa;
}
.achievements__introduce-title {
  color: #4d4d4d;
  font-family: Inter;
  font-style: normal;
  color: #4caf4f;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}
.achievements__introduce-desc {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: none;
}
.achievements .statistical {
  width: 540px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.achievements .statistical .row {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.achievements .statistical .row .col {
  width: 200px;
  display: flex;
  gap: 10px;
}
.achievements .statistical .row .col__img {
  width: 48px;
  height: 48px;
}

.customer {
  height: 390px;
  padding: 32px 144px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  gap: 78px;
  background-color: #f5f7fa;
}
.customer__img {
  height: 326px;
  width: 326px;
}
.customer__introduce {
  width: 748px;
  height: 324px;
}
.customer__introduce-text {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.customer__introduce-author {
  margin-bottom: 8px;
  color: #4caf4f;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.customer__introduce-note {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.customer__introduce .customer-client {
  display: flex;
  justify-content: space-between;
}
.customer__introduce .customer-client__btn {
  border: none;
  color: #4caf4f;
  background-color: #f5f7fa;
}
.customer__introduce .customer-client__btn-img {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-left: 8px;
}

.community-updates {
  margin-top: 48px;
}
.community-updates__title {
  margin-bottom: 8px;
  color: #4d4d4d;
  font-family: Inter;
  font-style: normal;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}
.community-updates__desc {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: auto;
  width: 628px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.community-updates .community-list {
  margin-top: 16px;
  padding: 0px 144px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
}
.community-updates .community-list__introduce {
  text-align: center;
}
.community-updates .community-list__introduce-img {
  width: 368px;
  height: 286px;
}
.community-updates .community-list__introduce .community-list__content {
  width: 317px;
  height: 176px;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #f5f7fa;
  margin: auto;
  transform: translateY(-130px);
}
.community-updates .community-list__introduce .community-list__content-desc {
  color: #4d4d4d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  height: 84px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 16px;
}
.community-updates .community-list__introduce .community-list__content-btn {
  border: none;
  height: 44px;
  align-items: center;
  color: #4caf4f;
  background-color: #f5f7fa;
}

.get-demo {
  height: 300px;
  text-align: center;
  padding: 32px 0px;
  background-color: #f5f7fa;
}
.get-demo__title {
  color: #263238;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  margin-bottom: 32px;
}
.get-demo__btn {
  border: none;
  color: white;
  background-color: #4caf4f;
  padding: 14px 32px;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  justify-content: center;
  height: 328px;
  gap: 125px;
  background-color: #263238;
}
.footer__address-desc {
  color: #f5f7fa;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin: 40px 0px;
}
.footer__introduce {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.footer__introduce .footer-row {
  width: 160px;
  height: 200px;
}
.footer__introduce .footer-row__title {
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 12px;
}
.footer__introduce .footer-row__desc {
  color: #f5f7fa;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 12px;
}
.footer__introduce .footer-row__text {
  padding: 10px;
  border-radius: 10px;
  color: #d9dbe1;
  background-color: #5b5555;
}
.footer__introduce .footer-row__email {
  transform: translate(230px, -30px);
} /*# sourceMappingURL=app.css.map */
